body {
  font-family: Helvetica, sans-serif;
  color: #5b5b5b;
  margin: 0;
}

.wrap {
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 24px;
  margin-top: 8px;
}

p {
  font-size: 14px;
}

nav {
  border-bottom: 1px solid;
  border-color: darkgrey;
  display: grid;
  grid-template-columns: 150px auto;
  grid-column-gap: 20px;
  padding-bottom: 5px;
}

/* section */

section {
  width: 700px;
}

section,
.results {
  margin-left: 180px;
}

small,
.results {
  display: block;
  margin-top: 30px;
}

.result-title {
  text-decoration: none;
}

.links {
  margin-bottom: 40px;
  list-style: none;
  font-size: 12px;
}

.links li {
  display: inline-block;
}

ul {
  padding-left: 8px;
}

.results-list-number {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* logo */

.wrap .logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 150px;
}

.wrap-results .logo-results {
  width: 150px;
  margin-left: 10px;
  margin-top: 10px;
}
/*
input */
input {
  border-color: rgba(128, 128, 128, 0.5);
  border-width: 1px;
  border-radius: 18px;
  width: 400px;
  height: 40px;
}

.wrap input {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.wrap-results input {
  margin: 14px 30px 12px 10px;
}

/* button */
button {
  cursor: pointer;
  background-color: #4285f3;
  border-color: #1a5fd0;
  border-radius: 4px;
  border-width: 0.5px;
  color: white;
  font-size: 14px;
  padding: 12px 20px;
}

button:hover {
  background-color: #5998ff;
  transition: 0.7s;
}

.wrap button {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.wrap-results button {
  margin-top: 10px;
  margin-bottom: 10px;
}
